/* Variables */
:root {
    --bg-clr: #f0f0f0;
    --bg-text-clr: #fbe7ac;
    --bg-button-hovering-clr: rgba(24, 26, 24, 0.4);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('media/bucket_kfc_curseur.png'), auto;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(238, 233, 171);
}

/* Audio */
audio {
    display: none;
}

/* Navigation Menu */
.menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(238, 233, 171, 0.4);
    color: var(--bg-text-clr);
    z-index: 3;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    color: #1a1a1a;
}

.menu ul li a:hover {
    background-color: var(--bg-button-hovering-clr);
    color: var(--bg-text-clr);
    border-radius: 7px;
}

.menu .dropdown {
    position: relative;
}

.menu .submenu,
.menu .submenufilms {
    display: none; 
    position: absolute;
    background-color: rgba(24, 26, 24, 0.4);
    padding: 0;
    margin: 20px 0;
    z-index: 2;
}

.menu .submenu li,
.menu .submenufilms li {
    display: flex;
    flex-direction: column;
}

.menu .submenu li a,
.menu .submenufilms li a {
    text-decoration: none;
    color: #fbe7ac;
}

.menu .submenu li a:hover,
.menu .submenufilms li a:hover {
    background-color: #fbe7ac;
    color: #1a1a1a;
    border-radius: 5px;
}


.menu .dropdown:hover .submenu,
.menu .dropdown:hover .submenufilms {
    display: block; 
}


@media (max-width: 980px) {
    .menu .submenu,
    .menu .submenufilms {
        display: none;
    }

    .menu .dropdown.show .submenu,
    .menu .dropdown.show .submenufilms {
        display: block; 
    }
}

#changeTheme {

    display: flex;
    background: transparent; 
    border: none;
    color: #1a1a1a; 
    font-size: 20px; 
    cursor: pointer;
    margin-left: 10px;
    padding: 15px;
}


#changeTheme:hover {

    background-color: rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    border-radius: 7px;

}


body {
    min-height: 99vh ;
    background-image: url(media/banniere/banniere_harkonnen.webp);
    background-size: cover;
}

main{
    font-size: 125%;
    border-radius: 1em;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ensemble{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cadre{
    background: rgba(217, 217, 217, 0.25);
    border-radius: 1em;
}
.haut_cadre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

}
.haut_cadre img {
    width: 120px;
    height: 170px;
}
#titre{
    border: 2px solid rgba(24, 26, 24, 0.6);
    background-color: rgb(35, 35, 35);
    color: white;
    border-radius: 1em;
    padding: 10px;
    margin: 5px;
}

#Appartenance {

    border: 2px solid rgba(24, 26, 24, 0.6);
    background-color: rgba(238, 233, 171,0.5);
    border-radius: 1em;
    padding: 5px;
    margin: 5px;
}

#Parents {

    border: 2px solid rgba(24, 26, 24, 0.4);
    background-color: rgba(238, 233, 171,0.5);
    border-radius: 1em;
    padding: 5px;
    margin: 5px;
}

#Acteurs {

    border: 2px solid rgba(24, 26, 24, 0.4);
    background-color: rgba(238, 233, 171,0.5);
    border-radius: 1em;
    padding: 5px;
    margin: 5px;
}
#lieu{ 
    border: 2px solid rgba(24, 26, 24, 0.4);
    background-color: rgba(238, 233, 171,0.5);
    border-radius: 1em;
    padding: 5px;
    margin: 5px;
}
#date{
    border: 2px solid rgba(24, 26, 24, 0.4);
    background-color: rgba(238, 233, 171,0.5);
    border-radius: 1em;
    padding: 5px;
    margin: 5px;
}
#texte{
    border: 2px solid rgba(24, 26, 24, 0.4);
    background-color: rgba(238, 233, 171,0.6);
    border-radius: 1em;
    padding: 5px;
    margin: 5px;
    line-height: 25px;
}


.milieu_cadre{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
}
.bas_cadre{ 
    display:flex;
    align-items: center;
}
.bouton_cadre{
    display:flex;
    justify-content: space-around;
}
.style-bouton{
    border: 2px solid rgba(24, 26, 24, 0.4);
    background-color: rgba(238, 233, 171,0.9);
    border-radius: 1em;
    padding: 5px;
    margin: 5px;
}
/* Footer */
.basPage {
    position: relative;
    background-color: #1f1e1e;
    color: #fbe7ac;
}

.basPageDebug {
    display: flex;
    align-items: center;
    position: relative;
    backdrop-filter: blur(3.5px);
}

.basPage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0,  0.99), rgba(0, 0, 0, 0));
    z-index: 0;
}

.blabla {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

.blabla p {
    display: flex;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 1em;
    text-align: justify;
    margin: 40px 100px 0;
}

.basPageGitRepoAndAuthors {
    display: flex;
    align-items: center;
    z-index: 3;
}

.basPageGitRepoAndAuthors a img {
    margin: 25px;
    margin-top: 60px;
}

.basPageGitRepoAndAuthors a img:hover {
    transform: scale(1.105);
    transform-origin: center;
}

.basPageAuteurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    border-radius: 1em;
    z-index: 3;
    margin-top: 40px;
}

.basPageAuteurs h3 {
    margin-bottom: 30px;
}

.basPageAuteursNoms {
    display: flex;
    flex-direction: row;
}

.basPageAuteursNoms a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    color: #fbe7ac;
}

.basPageAuteursNoms a:hover {
    background-color: #fbe7ac;
    color: #1a1a1a;
}


@media (max-width: 980px) {
    .haut_cadre img {
        width: 300px;
    }
    .menu {
        padding: 0%;
    }
    .menu .submenufilms {
        display: none;
        position: absolute;
        padding: 0px 0;
        margin: 20px 0;
    }
    .menu .submenufilms li a {
        text-decoration: none;
        color: #fbe7ac;
        background-color: rgba(24, 26, 24, 0.4);
        width: 127%;
    }
    .menu .submenu {
        display: none;
        position: absolute;
        background-color: rgba(24, 26, 24, 0.4);
        padding: 0px 0;
        margin: 20px 0;
    }
    .menu ul {
        font-size: 13px;
    }
    #navtext {
        font-size: 10px;
    }
    .menu ul li a {
        padding: 10px;
        font-size: 1rem; 
    }
}

@media (max-width: 980px) {
    main {
        width: 90%; 
        font-size: 150%; 
        padding: 20px;
    }
    .haut_cadre img {
        width: 140px;
    }
    .style-bouton{
        border: 2px solid rgba(24, 26, 24, 0.4);
        background-color: rgba(217, 217, 217,0.9);
        border-radius: 1em;
        padding: 15px;
        margin: 5px;
    }

}
