.menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 3;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbouton {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* important */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #1a1a1a
}

.dropdown:hover .dropdown-content {
    display: block;
  }
/* ce qui à en bas est important*/
.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    padding:20px;
    color: #fbe7ac;
}

.menu ul li a:hover{
    background-color:#fbe7ac;
    color: #1a1a1a;
    border-radius: 7px;
    
}