.menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 3;

}

:root {
	--f-cursor-default: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='26' fill='none' viewBox='0 0 24 26'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.69 2.69a2.357 2.357 0 0 1 2.495-.54L21.47 8.632a2.357 2.357 0 0 1-.255 4.494l-7.271 1.818-1.818 7.27a2.357 2.357 0 0 1-4.494.256L1.15 5.185a2.357 2.357 0 0 1 .54-2.495Z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.633 3.622A.786.786 0 0 0 2.62 4.633L9.103 21.92a.786.786 0 0 0 1.498-.086l2.047-8.185 8.185-2.046a.785.785 0 0 0 .086-1.498L3.633 3.622Z' fill='%23010101'/%3E%3C/svg%3E" ),auto;
}
	
.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    padding:20px;
    color: #fbe7ac;
}

.menu ul li a:hover{
    background-color: #fbe7ac;
    color: #1a1a1a;
    border-radius: 7px;
    
}


body {
	display :flex ;
	justify-content: center;
	align-items: center;
	min-height: 99vh;
	background-image: url(media/Contact.jpeg);
	background-size: cover;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}



.formulaire {
	transition: 2s ease;
	backdrop-filter: blur(0);
	background: transparent;
	border: 2px solid rgba(255, 254, 254, 0.2);
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	display:flex;
	flex-direction: column;
}
.formulaire h2 {
	display: flex;
	font-size: 125%;
	justify-content: center;
	color: white;
	/* text-shadow: 0 0 10px #eeff00,
				 0 0 20px #c29914,
				 0 0 40px #ce3914,
				 0 0 80px #c97d19; */

	margin: 12px;
}


.formulaire #inputtext {
	width: 80%;
	height: 80%;
	margin: 5%;
	padding:2.5% ;
	box-sizing: border-box;
	font-size: 135%;
	background-color: #fbe7ac80;
	color: rgb(0, 0, 0);
	/* text-shadow: 0 0 10px #fcfcfc,
				 0 0 20px #ffffff,
				 0 0 40px #ffffff,
				 0 0 80px #ffffff; */
	/*backdrop-filter: blur(150px);*/
}

.formulaire #commentaires {
	width: 80%;
	height: 80%;
	margin: 5%;
	padding:2.5% ;
	box-sizing: border-box;
	font-size: 125%;
	color: rgb(245, 188, 32);
	/* text-shadow: 0 0 10px #eeff00,
				 0 0 20px #c29914,
				 0 0 40px #ce3914,
				 0 0 80px #c97d19; */
}

.formulaire input {
	width : 100px;
	height: 100px;
	background: transparent;
	border : none;
	outline: none;
	border: 5px solid rgba(255, 254, 254, 0.2);
	border-radius: 40px;
}

.formulaire #envoi {
	transition: 2.5s ease;
	background-color: none;
	display : flex;
	justify-content: center;
	color: rgb(245, 188, 32);
	/* text-shadow: 0 0 10px #eeff00,
				 0 0 20px #c29914,
				 0 0 40px #ce3914,
				 0 0 80px #c97d19; */
	width: 80%;
	height: 80%;
	margin: 5%;
	padding:2.5% ;
	font-size: 125%;
	align-items: center;
	border-radius: 40px;
	cursor: pointer;

}




.formulaire:hover {
	transition: 2s;
	backdrop-filter: blur(8px);
}

#envoi:hover {
	transition: 2.5s;
	background-color: #f4ff24;
}








#contact-heading {
	justify-self: center;
	font-size: 155%;
	color: rgba(255, 17, 0, 0.486); 
}
