.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 11;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    color: #fbe7ac;
}

.menu ul li a:hover {
    background-color: #fbe7ac;
    color: #1a1a1a;
    border-radius: 7px;
}

.menu .dropdown {
    position: relative;
}

h1 {
    font-size: 2em;
    color: #fbe7ac;
    margin-bottom: 7%;
    background-color: rgba(24, 26, 24, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 0.5em;
}



.menu .submenu {
    display: none;
    position: absolute;
    background-color: rgba(24, 26, 24, 0.4);
    padding: 5px 0;
    margin: 20px 0;
}

.menu .submenu li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu .submenu li a {
    text-decoration: none;
    color: #fbe7ac;
}

.menu .submenu li a:hover {
    background-color: #fbe7ac;
    color: #1a1a1a;
    border-radius: 5px;
}

.menu .dropdown:hover .submenu {
    display: block;
}


.menu .submenufilms {
    display: none;
    position: absolute;
    padding: 0px 0;
    margin: 20px 0;
}

.menu .submenufilms li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.menu .submenufilms li a {
    text-decoration: none;
    color: #fbe7ac;
    background-color: rgba(24, 26, 24, 0.4);
    width: 90%;
}

.menu .submenufilms li a:hover {
    background-color: #fbe7ac;
    color: #1a1a1a;
    border-radius: 5px;

}

.menu .dropdown:hover .submenufilms {
    display: block;
}





body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    background-image: url(media/Dune_Partie1_Fond.jpg);
    background-size: cover;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-top: 60px;
}

.cadre {
    display : flex;
    flex-direction: row;
    
}

#texte {   
    font-size: large;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    display : flex;
    align-items: center;
    padding:30px;
    margin: 30px;
}

.video {
    transition: 1s ease;
    width: 100%;
    margin-left: 200px;
    padding: 30px;
    border: 2px solid rgba(1, 215, 253, 0.77);
    border-radius: 1em;
    
}
.video:hover {
    transition: 1s ease;
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

.video iframe {
    aspect-ratio: 16/9;
}

.video::before {
    content: "DUNE PARTIE 1 BANDE ANNONCE";
    display:flex;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    color: #e5ff00;
    border: 2px solid rgba(1, 215, 253, 0.77);
    border-radius: 1em;
    background: transparent;
    backdrop-filter: blur(8px);
}

@media (max-width: 768px) {

    .menu {
        padding: 0%;
    }
    .menu .submenufilms {
        display: none;
        position: absolute;
        padding: 0px 0;
        margin: 20px 0;
    }
    .menu .submenufilms li a {
        text-decoration: none;
        color: #fbe7ac;
        background-color: rgba(24, 26, 24, 0.4);
        width: 127%;
    }
    .menu .submenu {
        display: none;
        position: absolute;
        background-color: rgba(24, 26, 24, 0.4);
        padding: 0px 0;
        margin: 20px 0;
    }
    .menu ul {
        font-size: 13px;
    }
    #navtext {
        font-size: 10px;
    }
    .menu ul li a {
        padding: 10px;
        font-size: 1rem; 
    }
    .video {
        width: 75%;
        padding: 30px;
        border: 2px solid rgba(1, 215, 253, 0.77);
        border-radius: 1em;   
        justify-content: center;
        align-items: center;
    }
    .cadre {
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #texte {   
        font-size: large;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        border: none; 
        border-radius: 1em;
        text-align: justify;
    }



    .video iframe {
        aspect-ratio: 16/9;
    }
    
    .video::before {
        content: none;
        display:flex;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        color: #e5ff00;
        border: none;
        border-radius: none;
        background: transparent;
        backdrop-filter: blur(0);
    }
}

@media (max-width: 480px) {
    .menu ul li a {
        padding: 8px;
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.4em;
        color: #fbe7ac;
        margin-bottom: 1%;
        background-color: rgba(24, 26, 24, 0.05);
        backdrop-filter: blur(5px);
        border-radius: 0.5em;
    }
    
    .video::before {
        content: none;
        display:flex;
        justify-content: center;
        padding: 5px;
        text-decoration: none;
        color: #e5ff00;
        border: none;
        border-radius: none;
        background: transparent;
        backdrop-filter: blur(0);
    }
    .video {
        width: 75%;
        margin: 10px;
        padding: 30px;
        border: none;
        border-radius: 1em;   
        justify-content: center;
        align-items: center;
    }
}
