/* variables */
:root {
    --bg-clr: #f0f0f0;
    --bg-text-clr: #fbe7ac;
    --bg-button-hovering-clr: rgba(24, 26, 24, 0.4); 
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    cursor: url('./media/bucket_kfc_curseur.png'), auto;
    font-family: poppins;
}
audio{
    display: none;
}

.menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(13, 29, 13, 0.4);
    color: var(--bg-text-clr);
    z-index: 3;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    padding:20px;
    color: var(--bg-text-clr);
}

.menu ul li a:hover{
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
}

/*menu déroulant */
.menu .dropdown {
    position: relative; 
}

.menu .submenu {
    display: none;
    position: absolute;
    background-color: var(--bg-button-hovering-clr);
    padding: 5px 0;
    margin: 20px 0;

}

.menu .submenu li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.menu .submenu li a {
    text-decoration: none;
    color: var(--bg-text-clr);
}

.menu .submenu li a:hover {
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 5px;
}

.menu .dropdown:hover .submenu {
    display: block;
}

body{
    width: 100%;
    min-height: 100dvh;
}

/* affichage à la verticale avec flex */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/* mettre les enfants au centre avec flex */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: var(--bg-text-clr);
    background-color: var(--bg-clr);
}

/* Hero */
#hero {
    background-image: url("https://w.wallhaven.cc/full/g8/wallhaven-g8lw9l.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; /* Hauteur de la section égale à la fenêtre */
    position: relative; /* Nécessaire pour positionner correctement le ::before */
    z-index: 0;
}

#hero::before {
    content: '';
    position: absolute;
    top: 50%; /* commence moitié de la section */
    left: 0;
    right: 0;
    height: 50%; /* Le gradient commence à la 2nde moitié de la section */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* Première section */
#section1 {
    background-image: url(media/index/img_fond_section1.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section1 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection1 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection1 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection1 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection1 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection1 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection1 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection1 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section1::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section1::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


/* Section 2 */
#section2 {
    background-image: url(media/index/img_fond_section2.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section2 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection2 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection2 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease; /* Animation fluide de l'agrandissement */
    z-index: 2;
}

#elementsSection2 img:hover {
    transform: scale(1.1); /* Agrandissement de 10% au survol */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Ombre plus prononcée au survol */
}

/* Texte */
#elementsSection2 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection2 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection2 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection2 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section2::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section2::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


/* Section 3 */
#section3 {
    background-image: url(media/index/img_fond_section3.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section3 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection3 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection3 img {
    max-width: 50%;
    max-height: 50%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection3 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection3 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection3 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection3 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection3 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section3::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section3::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* SECTION 4 */
#section4 {
    background-image: url(media/index/img_fond_section4.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section4 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection4 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection4 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection4 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection4 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection4 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection4 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection4 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section4::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section4::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* SECTION 5 */

#section5 {
    background-image: url(media/index/img_fond_section5.png);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section5 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection5 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection5 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection5 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection5 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection5 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection5 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection5 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section5::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section5::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* SECTION  6*/

#section6 {
    background-image: url(media/index/img_fond_section6.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section6 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection6 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection6 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection6 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection6 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection6 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection6 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection6 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section6::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section6::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/*  SECTION 7 */

#section7 {
    background-image: url(media/index/img_fond_section7.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section7 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection7 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection7 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection1 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection7 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection7 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection7 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection7 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section7::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section7::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* SECTION 8 */

#section8 {
    background-image: url(media/index/img_fond_section8.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section8 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection8 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection8 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection8 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection8 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection8 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection8 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection8 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section8::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section8::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* SECTION 9 */

#section9 {
    background-image: url(media/index/img_fond_section9.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section9 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection9 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection9 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection9 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection9 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection9 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection9 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection9 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section9::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section9::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* SECTION 10 */

#section10 {
    background-image: url(media/index/img_fond_section10.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;

    z-index: 0;
}


#section10 h1 {
    text-align: center;
    color: white;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
}


#elementsSection10 {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    width: 80%;

    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 1em;
    z-index: 2;
}

/* Image */
#elementsSection10 img {
    max-width: 45%;
    height: auto;
    flex-shrink: 0;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    z-index: 2;
}

#elementsSection10 img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); 
}

/* Texte */
#elementsSection10 p {
    text-align: justify; 
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6; 
    z-index: 2;
    margin-bottom: 10px; 
}

/* Bouton lien */
#elementsSection10 a {
    display: inline-block; 
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--bg-text-clr); 
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 3;
}

#elementsSection10 a:hover {
    background-color:rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
    z-index: 2;
}


#elementsSection10 div {
    display: flex;
    flex-direction: column;
    z-index: 2;
}


#section10::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#section10::after {
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    height: 50%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}


#retourneHaut {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    font-size: 75px;

    height: 75px;
    width: 75px;
    line-height: 75px;
    
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    padding:0;
    color: #fbe7ac;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgba(24, 26, 24, 0.7);
    cursor: pointer;
}


#retourneHaut:hover {
    background-color: #fbe7ac;
    color: #1a1a1a;
    border-radius: 50%;
}

.basPage {
    position: relative;
    height: 25vh;
    background-image: url(media/img_bas_de_page.jpg);
    
    background-size: cover;
    background-position: center;
    color: #f0f0f0;
    z-index: 1;
}

.basPageDebug {
    display: flex;
    align-items: center;
    position: relative;
    height: 25vh;
    backdrop-filter: blur(3.5px);
    z-index: 2;
}

.basPage::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; /* gradient commence à partir de la moitié */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

.blabla {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

.blabla p {
    display: flex;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 1em;
    text-align: justify;
    margin-right: 100px;
    margin-left: 100px;
    
}

.basPageGitRepoAndAuthors{
    display: flex;
    align-items: center;
    z-index: 3;
}

.basPageGitRepoAndAuthors a img {
    margin-right: 10px;
}

.basPageAuteurs{
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    border-radius: 1em;
    z-index: 3;
}

.basPageAuteurs h3{
    margin-bottom: 30px;
}

.basPageAuteursNoms a {
    text-decoration: none;
    font-weight: bold;
    padding:20px;
    color: var(--bg-text-clr);
}

.basPageAuteursNoms a:hover{
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
}