/* variables */
:root {
    --bg-clr: #f0f0f0;
    --bg-text-clr: #fbe7ac;
    --bg-button-hovering-clr: rgba(24, 26, 24, 0.4); 
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(24, 26, 24, 0.4);
    color: var(--bg-text-clr);
    z-index: 3;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    padding:20px;
    color: var(--bg-text-clr);
}

.menu ul li a:hover{
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
}

/*menu déroulant */
.menu .dropdown {
    position: relative; 
}

.menu .submenu {
    display: none;
    position: absolute;
    background-color: var(--bg-button-hovering-clr);
    padding: 5px 0;
    margin: 20px 0;

}

.menu .submenu li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.menu .submenu li a {
    text-decoration: none;
    color: var(--bg-text-clr);
}

.menu .submenu li a:hover {
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 5px;
}

.menu .dropdown:hover .submenu {
    display: block;
}

body{
    width: 100%;
    min-height: 100dvh;
}

/* affichage à la verticale avec flex */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/* mettre les enfants au centre avec flex */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: var(--bg-text-clr);
    background-color: var(--bg-clr);
}

/* pair */
section:nth-child(odd){
    background-color: transparent;
    color: var(--bg-clr);
}

/* Hero */
#hero {
    background-image: url("https://w.wallhaven.cc/full/g8/wallhaven-g8lw9l.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; /* Hauteur de la section égale à la fenêtre */
    position: relative; /* Nécessaire pour positionner correctement le ::before */
    z-index: 0;
}

#hero::before {
    content: '';
    position: absolute;
    top: 50%; /* commence moitié de la section */
    left: 0;
    right: 0;
    height: 50%; /* Le gradient commence à la 2nde moitié de la section */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* Deuxième section */
section:nth-child(2) {
    background-image: url(https://cdn.futura-sciences.com/sources/images/Rub-al-Khali-Desert-Dune.jpg);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before */
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section:nth-child(2) img {
    max-width: 45%;
    height: 400px;
    margin-left: 100px;
    display: flex;
    justify-self: right;
    z-index: 2;
}

section:nth-child(2) p {
    text-align: center;
    color: #1a1a1a;
    font-size: large;
    background: transparent;
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    padding: 10px;
    z-index: 2;
    margin-bottom: 10px; /* Laisser la place pour le bouton */
}

section:nth-child(2) a {
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    padding:20px;
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 2;
    
}

section:nth-child(2) a:hover {
    background-color: var(--bg-button-hovering-clr);
    color: var(--bg-text-clr);
    border-radius: 7px;
}

section:nth-child(2) div {
    display: flex;
    flex-direction: column;
}

section:nth-child(2) img p{
    flex-basis: 50%;
}

/* Gradient 1ere moitié de la 2nde section */
section:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; /* gradient commence à partir de la moitié */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

section:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 50%; /* commence moitié de la section */
    left: 0;
    right: 0;
    height: 50%; /* Le gradient commence à la 2nde moitié de la section */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* Troisième section */
section:nth-child(3) {
    background-image: url(https://images.ctfassets.net/qpn1gztbusu2/2vEDxe1kRlBNNMqbfTybxm/ea2f5c1a12fb49ac9a10a64624d126bb/J0662-05-Magazin-Blog-Post-2.jpg?fm=jpg&w=3840&q=70);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before*/
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section:nth-child(3) img {
    max-width: 45%;
    height: 400px;
    margin-left: 100px;
    display: flex;
    justify-self: right;
    z-index: 2;
}

section:nth-child(3) p {
    text-align: center;
    color: #1a1a1a;
    font-size: large;
    background: transparent;
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    padding: 10px;
    z-index: 2;
    margin-bottom: 10px; /* Laisser la place pour le bouton */
}

section:nth-child(3) a {
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    padding:20px;
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 2;
    
}

section:nth-child(3) a:hover {
    background-color: #1a1a1a;
    color: var(--bg-text-clr);
    border-radius: 7px;
}

section:nth-child(3) div {
    display: flex;
    flex-direction: column;
}


/* Gradient 1ere moitié de la 3e section */
section:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; /* gradient commence à partir de la moitié */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* Gradient 2e moitié de la 3e section */
section:nth-child(3)::after {
    content: '';
    position: absolute;
    top: 50%; /* commence moitié de la section */
    left: 0;
    right: 0;
    height: 50%; /* Le gradient commence à la 2nde moitié de la section */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* QUATRIEME SECTION A FAIRE */
section:nth-child(3) {
    background-image: url(https://images.ctfassets.net/qpn1gztbusu2/2vEDxe1kRlBNNMqbfTybxm/ea2f5c1a12fb49ac9a10a64624d126bb/J0662-05-Magazin-Blog-Post-2.jpg?fm=jpg&w=3840&q=70);
    background-size: cover;
    background-position: center;
    position: relative; /* Nécessaire -> before*/
    height: 100vh; /* 100vh = hauteur fenêtre */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section:nth-child(3) img {
    max-width: 45%;
    height: 400px;
    margin-left: 100px;
    display: flex;
    justify-self: right;
    z-index: 2;
}

section:nth-child(3) p {
    text-align: center;
    color: #1a1a1a;
    font-size: large;
    background: transparent;
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    padding: 10px;
    z-index: 2;
    margin-bottom: 10px; /* Laisser la place pour le bouton */
}

section:nth-child(3) a {
    text-align: center;
    align-self: center;
    text-decoration: none;
    font-weight: bold;
    padding:20px;
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
    z-index: 2;
    
}

section:nth-child(3) a:hover {
    background-color: var(--bg-button-hovering-clr);
    color: var(--bg-text-clr);
    border-radius: 7px;
}

section:nth-child(3) div {
    display: flex;
    flex-direction: column;
}


/* Gradient 1ere moitié de la 3e section */
section:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    height: 50%; /* gradient commence à partir de la moitié */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* Gradient 2e moitié de la 3e section */
section:nth-child(3)::after {
    content: '';
    position: absolute;
    top: 50%; /* commence moitié de la section */
    left: 0;
    right: 0;
    height: 50%; /* Le gradient commence à la 2nde moitié de la section */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}