.menu {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    justify-content: center;
    background-color: #1a1a1a;
    color:#fff;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a{
    padding:20px;
}

.menu ul li a:hover{
    background-color: #fff;
    color: #1a1a1a;
    border-radius: 7px;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    background-image: url(media/Paul-Atreides.png);
    background-size: cover;
    margin: 0;
}
