/* Variables */
:root {
    --bg-clr: #f0f0f0;
    --bg-text-clr: #fbe7ac;
    --bg-button-hovering-clr: rgba(24, 26, 24, 0.4);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('media/bucket_kfc_curseur.png'), auto;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 100vh;
}

/* Audio */
audio {
    display: none;
}

/* Navigation Menu */
.menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(13, 29, 13, 0.4);
    color: var(--bg-text-clr);
    z-index: 3;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    color: var(--bg-text-clr);
}

.menu ul li a:hover {
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
}

/* Dropdown Menu */
.menu .dropdown {
    position: relative;
}

.menu .submenu,
.menu .submenufilms {
    display: none;
    position: absolute;
    background-color: rgba(24, 26, 24, 0.4);
    padding: 0;
    margin: 20px 0;
}

.menu .submenu li,
.menu .submenufilms li {
    display: flex;
    flex-direction: column;
}

.menu .submenu li a,
.menu .submenufilms li a {
    text-decoration: none;
    color: #fbe7ac;
}

.menu .submenu li a:hover,
.menu .submenufilms li a:hover {
    background-color: #fbe7ac;
    color: #1a1a1a;
    border-radius: 5px;
}

.menu .dropdown:hover .submenu,
.menu .dropdown:hover .submenufilms {
    display: block;
}

/* Main Layout */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Sections */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: var(--bg-text-clr);
    background-color: var(--bg-clr);
    position: relative;
}

/* Hero Section */
#hero {
    background-image: url("media/index/img_fond_principal_dune.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#hero::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

/* Adaptation Title */
#adaptationTitle {
    background-image: url("media/index/img_adaptations.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative; /* Added relative positioning */
}

#adaptationTitle h1 {
    text-align: center;
    color: #fbe7ac;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    margin-bottom: 7%;
    background-color: rgba(24, 26, 24, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 1em;
    padding: 10px;
}

#adaptationTitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
 right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1; 
}

#adaptationTitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 1; 
}

/* Section Styles */
h2 {
    text-align: center;
    color: #fbe7ac;
    z-index: 2;
    font-family: Montserrat;
    font-size: 3em;
    margin-bottom: 7%;
    background-color: rgba(24, 26, 24, 0.05);
    backdrop-filter: blur(5px);
    border-radius: 1em;
    position: relative; /* Positioning for overlap */
    z-index: 2; /* Ensure it appears above other content */
}

/* Background Images for Each Section */
#section1 {
    background-image: url("media/index/img_fond_section1.webp");
    background-size: cover;
    background-position: center;

}

#section2 {
    background-image: url("media/index/img_fond_section2.webp");
    background-size: cover;
    background-position: center;
}

#section3 {
    background-image: url("media/index/img_fond_section3.webp");
    background-size: cover;
    background-position: center;
}

#section4 {
    background-image: url("media/index/img_fond_section4.webp");
    background-size: cover;
    background-position: center;
}

#section5 {
    background-image: url("media/index/img_fond_section5.webp");
    background-size: cover;
    background-position: center;
}

#section6 {
    background-image: url("media/index/img_fond_section6.webp");
    background-size: cover;
    background-position: center;
}

#section7 {
    background-image: url("media/index/img_fond_section7.webp");
    background-size: cover;
    background-position: center;
}

#section8 {
    background-image: url("media/index/img_fond_section8.webp");
    background-size: cover;
    background-position: center;
}

#section9 {
    background-image: url("media/index/img_fond_section9.webp");
    background-size: cover;
    background-position: center;
}

#section10 {
    background-image: url("media/index/img_fond_section10.webp");
    background-size: cover;
    background-position: center;
}

/* Pseudo-elements for Fade Effect */
#section1::before, #section2::before, #section3::before, #section4::before, #section5::before, #section6::before, #section7::before, #section8::before, #section9::before, #section10::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 0; /* Ensure it is below the content */
}

#section1::after, #section2::after, #section3::after, #section4::after, #section5::after, #section6::after, #section7::after, #section8::after, #section9::after, #section10::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
    z-index: 0; /* Ensure it is below the content */
}

/* Elements Section */
#elementsSection1, #elementsSection2, #elementsSection3, #elementsSection4, #elementsSection5, #elementsSection6, #elementsSection7, #elementsSection8, #elementsSection9, #elementsSection10 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 80%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(8px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    position: relative;
    z-index: 1; /* Ensure it is below the title */
}

#elementsSection1 a, #elementsSection2 a, #elementsSection3 a, #elementsSection4 a, #elementsSection5 a, #elementsSection6 a, #elementsSection7 a, #elementsSection8 a, #elementsSection9 a, #elementsSection10 a {
    /*display: block;*/
    width: auto;
    height: auto;
    text-decoration: none;
}

#elementsSection1 a img, #elementsSection2 a img, #elementsSection3 a img, #elementsSection4 a img, #elementsSection5 a img, #elementsSection6 a img, #elementsSection7 a img, #elementsSection8 a img, #elementsSection9 a img, #elementsSection10 a img {
    height: auto;
    border-radius: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

#elementsSection1 a img:hover, #elementsSection2 a img:hover, #elementsSection3 a img:hover, #elementsSection4 a img:hover, #elementsSection5 a img:hover, #elementsSection6 a img:hover, #elementsSection7 a img:hover, #elementsSection8 a img:hover, #elementsSection9 a img:hover, #elementsSection10 a img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#elementsSection1 p, #elementsSection2 p, #elementsSection3 p, #elementsSection4 p, #elementsSection5 p, #elementsSection6 p, #elementsSection7 p, #elementsSection8 p, #elementsSection9 p, #elementsSection10 p {
    text-align: justify;
    color: #1a1a1a;
    font-size: 1.3em;
    padding: 20px;
    line-height: 1.6;
}

#allerPlusLoin_Section_1, #allerPlusLoin_Section_2, #allerPlusLoin_Section_3, #allerPlusLoin_Section_4, #allerPlusLoin_Section_5, #allerPlusLoin_Section_6, #allerPlusLoin_Section_7, #allerPlusLoin_Section_8, #allerPlusLoin_Section_9, #allerPlusLoin_Section_10 {
    display: flex;

    justify-self: center;

    text-align: center;


    text-decoration: none;

    font-weight: bold;

    margin-top: 10px;

    padding: 20px;

    background-color: var(--bg-text-clr);

    color: #1a1a1a;

    border-radius: 7px;

    /* Ajoutez une bordure pour visualiser la hitbox */

    border: 1px solid transparent; /* Pour voir la hitbox */
}

#allerPlusLoin_Section_1:hover, #allerPlusLoin_Section_2:hover, #allerPlusLoin_Section_3:hover, #allerPlusLoin_Section_4:hover, #allerPlusLoin_Section_5:hover, #allerPlusLoin_Section_6:hover, #allerPlusLoin_Section_7:hover, #allerPlusLoin_Section_8:hover, #allerPlusLoin_Section_9:hover, #allerPlusLoin_Section_10:hover {
    background-color: rgba(24, 26, 24, 0.4);
    color: #fbe7ac;
}

/* Back to Top Button */
#retourneHaut {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    font-size: 75px;
    padding-top: 10px;
    height: 75px;
    width: 75px;
    line-height: 75px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #fbe7ac;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgba(25, 24, 26, 0.7);
    cursor: pointer;
}

#retourneHaut:hover {
    background-color: #fbe7ac;
    color: #1a1a1a;
}

/* Footer */
.basPage {
    position: relative;
    height: 17.5vh;
    background-color: #1f1e1e;
    color: #fbe7ac;
}

.basPageDebug {
    display: flex;
    align-items: center;
    position: relative;
    height: 17.5vh;
    backdrop-filter: blur(3.5px);
}

.basPage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0,  0.99), rgba(0, 0, 0, 0));
    z-index: 1;
}

.blabla {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

.blabla p {
    display: flex;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 1em;
    text-align: justify;
    margin: 40px 100px 0;
}

.basPageGitRepoAndAuthors {
    display: flex;
    align-items: center;
    z-index: 3;
}

.basPageGitRepoAndAuthors a img {
    margin: 25px;
    margin-top: 60px;
}

.basPageGitRepoAndAuthors a img:hover {
    transform: scale(1.105);
    transform-origin: center;
}

.basPageAuteurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
    border-radius: 1em;
    z-index: 3;
    margin-top: 40px;
}

.basPageAuteurs h3 {
    margin-bottom: 30px;
}

.basPageAuteursNoms a {
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    color: var(--bg-text-clr);
    margin-bottom: 20px;
}

.basPageAuteursNoms a:hover {
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
}

/* Media Queries */
@media (max-width: 980px) {
    #hero {
        background-image: url("media/index/tel_img_fond_principal.webp");
    }

    #elementsSection1 p,
    #elementsSection2 p,
    #elementsSection3 p,
    #elementsSection4 p,
    #elementsSection5 p,
    #elementsSection6 p,
    #elementsSection7 p,
    #elementsSection8 p,
    #elementsSection9 p,
    #elementsSection10 p {
        font-size: 1.65em;
        hyphens: auto;
        word-wrap: break-word;
    }

    #elementsSection1 a img,
    #elementsSection2 a img,
    #elementsSection3 a img,
    #elementsSection4 a img,
    #elementsSection5 a img,
    #elementsSection6 a img,
    #elementsSection7 a img,
    #elementsSection8 a img,
    #elementsSection9 a img,
    #elementsSection10 a img {
        transform: scale(1.105);
    }

    #elementsSection1 a img:hover,
    #elementsSection2 a img:hover,
    #elementsSection3 a img:hover,
    #elementsSection4 a img:hover,
    #elementsSection5 a img:hover,
    #elementsSection6 a img:hover,
    #elementsSection7 a img:hover,
    #elementsSection8 a img:hover,
    #elementsSection9 a img:hover,
    #elementsSection10 a img:hover {
        transform: scale(1.05);
    }
}