.menu {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(24, 26, 24, 0.4); /* 20% opaque */
    color:#fbe7ac;
    
}

.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold;
    padding:20px;
    color: #fbe7ac;
}

.menu ul li a:hover{
    background-color: #fbe7ac;
    color: #1a1a1a;
    border-radius: 7px;
    
}

body{
    background-image: url(https://w.wallhaven.cc/full/g8/wallhaven-g8lw9l.jpg);
}