/* variables */
:root {
    --bg-clr: #f0f0f0;
    --bg-text-clr: #fbe7ac;
}
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    height: 60px;
    position: fixed; /* Permet de fixer le menu en haut de la page */
    top: 0; /* Positionne le menu en haut de la page */
    left: 0; /* Positionne le menu à gauche de la page */
    display: flex;
    width: 100%;
    /* ajout d'un padding: 0px 10px 0px 10px (haut, droit,bas, gauche) */
    padding: 0px 10px;
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(24, 26, 24, 0.4); /* 20% opaque */
    color: var(--bg-text-clr);
}

.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold;
    padding:20px;
    color: var(--bg-text-clr);
}

.menu ul li a:hover{
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
}

body{
    width: 100%;
    min-height: 100dvh;
}

/* affichage à la verticale avec flex */
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/* mettre les enfants au centre avec flex */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: var(--bg-text-clr);
    background-color: var(--bg-clr);
}

/* pair */
section:nth-child(odd){
    background-color: transparent;
    color: var(--bg-clr);
}

/* hero */
#hero {
    background-image: url(https://w.wallhaven.cc/full/g8/wallhaven-g8lw9l.jpg);
    background-size: cover;
    background-position: center;
}

/* degradée de couleur */
section:nth-child(2) {
    background-color: red;
}